<head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
</head>

<header>
    <h1 id="logo"> Commit </h1>
    <nav>
        <ul>
        <li><a href='#'>Start</a></li>
        <li><a href='#'>Track</a></li>
        <li><a href='#'>Share</a></li>
        <li><a href='#'>About</a></li>
        <li id="login"><a href='#'>login | register</a></li>
        </ul>
    </nav>
</header>

<body>
    <main>
        <div id="blue">
            <div id="content_box">
                <h1>You can do it,</h1>
                <h1>        Really.</h1>
            <div id="signup"><input type="emai" placeholder="Your Email Here"> <button>Sign up!</button></div>
            </div>
            
            <h1 id="catcher"> Commiting can be Hard. Help Us, Help You.</h1>
            
        </div>
    </main>

<footer>
    <p>Copyright Max Wolffe 2014. </p
</footer>
</body>

